<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'  %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">User Blog</a>
  <ul class="nav navbar-nav">
  <li><%= link_to "home",home_path %></li>
</ul>
   <div id="navbar-brand" class="collapse navbar-collapse">
   <ul class="nav navbar-nav">
    <li><%= link_to 'User List', users_path %></li>
    <li><%= link_to 'Post List', microposts_path %></li>
   </ul>
    <ul class="nav navbar-nav navbar-right">
     
     <%= link_to 'Register User', new_user_path, :class =>'btn btn-primary'%>
    <%= link_to 'New Micropost', new_micropost_path, :class =>'btn btn-primary'%>


    </ul>
  </div>
</nav>
<div class="container">
    <%= yield %>
</div>
  </body>
</html>
